/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/AppConf.php
public/amp.sitemap/
public/sitemap/
.idea/
/public/.htaccess
.htaccess
storage/scout/
resources/views/amp/widget/ignore/
resources/views/web/widget/ignore/
public/cse_img.php
public/cse_txt.php
